.firstSectionContainer{
    background-color: #1A7D66;
    height: 80vh;
    gap: 2rem;
}

.firstSectionLeftDiv h2{
    color: white
}

.firstSectionBtn{
    border-radius: 8px;
    border: none;
    font-weight: 500;
    padding: 6px;
    transition: .6s;
}

.firstSectionBtn:hover{
    background-color: #014A39;
    color: white;
}

.firstSectionLogo{
    width: 450px;
}

@media (max-width: 720px) {
    .firstSectionLogo{
        width: 300px;
    }
}