.slidesContainer{
    background-color: #CFFFF4;
    width: 90vw;
}

.slideText{
    max-width: 600px;
    text-align: justify;
}

.slideImg{
    width: 100%;
    max-width: 1000px;
    height: 600;
}