.slidesContainer{
    background-color: #CFFFF4;
    width: 90vw
}

.slideText{
    max-width: 600px;
    text-align: justify;
}

.slideImg{
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 660px) {
    .slidesContainer{
        height: 500px;
    }
    .slideImg{
        height: 400px;
    }
}

@media (max-width: 550px) {
    .slidesContainer{
        height: 400px;
        width: 100vw;
    }
    .slideImg{
        height: 300px;
    }
}