@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Radio Canada', sans-serif;
}

span{
    color: #014a39;
    font-weight: bold;
}